<!doctype html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title>Meetoo a Secure Video Calls, Chat & Screen Sharing.</title>
        <link rel="shortcut icon" href="../images/meetoo.png" />
        <link rel="apple-touch-icon" href="../images/meetoo.png" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="Meetoo powered by WebRTC, Real-time Simple Secure Fast video calls, chat and screen sharing capabilities in the browser, from your mobile or desktop."
        />
        <meta
            name="keywords"
            content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="Meetoo" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="Meetoo calling provides real-time HD quality and latency simply not available with traditional technology."
        />

        <!-- xss -->

        <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>

        <!-- https://cdnjs.com/libraries/font-awesome -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

        <!-- StyleSheet -->

        <!-- <link rel="stylesheet" href="../css/snow.css" /> -->
        <link rel="stylesheet" href="../css/landing.css" />
        <link rel="stylesheet" href="../css/newcall.css" />

        <!-- JavaScripts -->

        <script async src="../js/umami.js"></script>
    </head>
    <body class="has-animations">
        <div id="snow-container"></div>
        <div class="body-wrap">
            <header class="site-header reveal-from-top">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand">
                            <div class="m-0">
                                <a href="/">
                                    <img src="../images/meetoo.png" alt="Meetoo P2P" width="50" height="50" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="site-content">
                <section class="hero section illustration-section-01" style="">
                    <div class="container" style="">
                        <div class="hero-inner section-inner">
                            <div class="split-wrap invert-mobile">
                                <div class="split-item">
                                    <div class="hero-content split-item-content center-content-mobile">
                                        <h1 style="position: relative; top: 10px;" class="mt-32 mb-16 reveal-from-bottom" data-reveal-delay="150">
                                            Room meeting<br />TNI Angkatan Darat Republik Indonesia
                                        </h1>
                                    </div>
                                    <style>
                                        @media (min-width: 641px) {
                                            .hero .split-wrap .split-item {
                                                min-height: 492px;
                                            }
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section style="position: relative; bottom: 50px;" class="cta section center-content-mobile reveal-from-bottom mb-32">
                    <div class="container" style="position: relative;">
                        <div class="cta-inner section-inner cta-split br-12">
                            <div class="cta-slogan">
                                <h3 class="m-0">
                                    <span style="font-size: 30px;">
                                        Gabung room meeting.<br />
                                        Tuliskan id room meeting anda
                                    </span>
                                </h3>
                            </div>
                            <div class="cta-action">
                                <div class="mb-0">
                                    <label class="form-label screen-reader" for="roomName">meetoo</label>
                                    <div class="form-group-desktop">
                                        <input
                                            id="roomName"
                                            class="form-input"
                                            type="text"
                                            value="meetoo"
                                            maxlength="32"
                                            style="color: white; border-radius: 6px; background: transparent; border: 1px solid white;;"
                                        />
                                        <button
                                            id="genRoomButton"
                                            class="button button-primary br-6 mr-8 mb-8 fas fa-arrows-rotate"
                                            onclick="genRoom()"
                                            style="background-color: rgb(103, 186, 129);"
                                        ></button>
                                        <button
                                            id="joinRoomButton"
                                            class="button button-primary br-6 pulse"
                                            onclick="joinRoom()"
                                            style="background-color: rgb(103, 186, 129);"
                                        >
                                            Join Room
                                        </button>
                                        <script>
                                            document.getElementById('roomName').onkeyup = (e) => {
                                                if (e.keyCode === 13) {
                                                    e.preventDefault();
                                                    joinRoom();
                                                }
                                            };
                                            function genRoom() {
                                                document.getElementById('roomName').value = getUUID4();
                                            }
                                            function getUUID4() {
                                                return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, (c) =>
                                                    (
                                                        c ^
                                                        (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (c / 4)))
                                                    ).toString(16),
                                                );
                                            }
                                            function joinRoom() {
                                                const roomName = filterXSS(document.getElementById('roomName').value);
                                                if (roomName) {
                                                    window.location.href = '/join/' + roomName;
                                                    window.localStorage.lastRoom = roomName;
                                                } else {
                                                    alert('Room name empty!\nPlease pick a room name.');
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div id="lastRoomContainer" class="last-room">
                                    <span>Your recent room:</span>
                                    <a id="lastRoom"></a>
                                </div>
                                <script>
                                    const lastRoomContainer = document.getElementById('lastRoomContainer');
                                    const lastRoom = document.getElementById('lastRoom');
                                    const lastRoomName = window.localStorage.lastRoom
                                        ? window.localStorage.lastRoom
                                        : '';
                                    if (lastRoomName) {
                                        lastRoomContainer.style.display = 'inline-flex';
                                        lastRoom.setAttribute('href', '/join/' + lastRoomName);
                                        lastRoom.innerText = lastRoomName;
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <!-- <footer id="footer" style="position: relative;" class="site-footer center-content-mobile">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="footer-top space-between text-xxs">
                            <div class="brand">
                                <a href="/"><img src="../images/meetoo.png" alt="Neon" width="32" height="32" /></a>
                            </div>
                        </div>
                        <div class="footer-bottom space-between text-xxs invert-order-desktop">
                            <div class="footer-copyright" style="position: relative; bottom: 20px;">&copy; Meetoo, PT.SOLUSI TIGA BERSAMA, all rights reserved</div>
                        </div>
                    </div>
                </div>
            </footer> -->
        </div>

        <!-- <script defer src="../js/snow.js"></script> -->
        <script defer src="../js/common.js"></script>
        <script defer src="../js/landing.js"></script>
        <script defer src="../js/newRoom.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
